body{
    background-color: #B22222;
}

h1.header {
    color: white;
    margin: 0;
    font-size: 100px;
    font-family: courier;
}
h2.video_bas{
    color: #B22222;
    font-size: 25px;
    padding: 450px 0 30px 0;
    text-align: center;
}

.article{
    border: solid 1px;
    text-align: center;
    margin: 5px;
}

.image{
    width: 500px;
    height: 500px;
}

.nav {
    color: white;
    border: solid white 1px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.middle {
    text-align: center;
}

.title {
    color: #B22222;
    font-size: 30px;
}

.column{
    background-color: white;
    min-height: 950px
}

.form_contact{
    text-align: right;
}

.table_form{
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
}

.message_contact{
    color: gray;
    bottom: 30px;
    position: fixed;
}

#footer{
    color: white;
    font-size: 15px;
    text-align: center;
}